.receipt-item{
  background-color: lavender;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}