.burger-menu {
  &__button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    z-index: 300;
    box-shadow: 0 1rem 3rem rgba(black, .1);
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #ABFCCD, #D0D0FF);

    &--checked {
      background-image: none;
      background-color: white;
    }

    &--checked &__icon--1 {
      transform: translateY(.2rem) rotate(135deg);
      background-color: #a2a2ff;
    }

    &--checked &__icon--3 {
      transform: translateY(-.2rem) rotate(-135deg);
      background-color: #5ae3a6;
    }

    &--checked &__icon--2 {
      opacity: 0;
      width: 0;
    }

    &--checked &__icon:not(:last-child) {
      margin-bottom: 0;
    }

    &__icon {
      & {
        width: 2rem;
        height: 2px;
        background-color: white;
        display: inline-block;
      }

      &:not(:last-child) {
        margin-bottom: .5rem;
      }


      &--2,
      &--3 {
        transition: all .2s;
      }
    }

    &__button:hover &__icon--1 {
      margin-bottom: .7rem;
    }

    &__button:hover &__icon--2 {
      margin-bottom: .7rem;
    }
  }

  &__nav {
    opacity: 0;
    width: 0;
    background-image: linear-gradient(to right bottom, #ABFCCD, #D0D0FF);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;

    transition: all .8s cubic-bezier(.68, -0.44, .1, 1.47);

  }

  &__button--checked ~ &__nav {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    & > h3{
      font-size: 3rem;
    }
  }

  &__list {
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    margin: 1rem;
    width: 100%;
    background-color: white;
    transition: .2s all;
    border-radius: .5rem;

    &:hover,
    &:active {
      background-color: #8dfdb8;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      padding: 1rem 2rem;
      color: black;
      text-decoration: none;
      transition: .2s all;
    }
  }

}


.hidden > .navigation__checkbox--checked ~ .navigation__background {
  transform: scale(0.5);
}

.hidden > .navigation__checkbox--checked ~ .navigation__nav {
  opacity: 0;
  width: 0;
}

.hidden > .navigation__checkbox--checked + .navigation__button .navigation__icon {
  background-color: #7c7c83;
}

.hidden > .navigation__checkbox--checked + .navigation__button .navigation__icon::before {
  transform: rotate(0);
  top: -.8rem;
}

.hidden > .navigation__checkbox--checked + .navigation__button .navigation__icon::after {
  top: .8rem;
  transform: rotate(0);
}
