@import "src/base";

.start {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  overflow: hidden;
  @media only screen and (max-width: $medium-large){
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
  }
  &__col-1 {
    background-image: url("../../assets/start-screen.jpg");
    background-size: cover;
    grid-column: 1/2;
    @media only screen and (max-width: $medium-large){
      visibility: hidden;
      overflow: hidden;

    }
  }

  &__col-2{
    grid-column: 2/-1;
    background-image: $lavender-green-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $medium-large){
      grid-column: 1/-1;
      grid-row: 1/-1;
    }
    & > img{
      width: 10rem;
      margin-bottom: 2.5rem;
    }
    & > button{
      width: 25%;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}