@import "src/base";

.new-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @media only screen and (max-width: $medium-large){
    width: 85%;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3.5rem;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
  }

  &__heading{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  &__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__input{
    width: 100%;
    border: none;
    border-radius: .5rem;
    height: 3rem;
    box-shadow: 0 .4rem 2rem rgba(black, .2);
    padding: .5rem;
    &:focus-visible{
      outline: none;
      box-shadow: 0 .4rem 2rem rgba(#a2a2ff, .6);;
    }
  }

  &__label{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  &__buttons{
    margin-top: 2.5rem;
    display: flex;
    justify-content: flex-end;
  }

  &__button{
    padding: 1rem 1.5rem;
    &:not(:last-child){
      margin-right: 2rem;
    }
  }

}
