@import "src/base";

.register {
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  -ms-overflow-y:scroll;
  scrollbar-width: thin;
  scrollbar-color: $green-light $lavender-medium;
  @media only screen and (max-width: $medium-large){

  }

  & > form{
    width: 75%;
    @media only screen and (max-width: $small){
      width: 85%;
    }
  }
  &__field{
    margin: 1rem 0;
    & > label {
      margin-bottom: .5rem;
    }
  }

  &__error {
    font-size: 1.2rem;
    color: $error;
  }

  &__radio-group{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;

    &__main{
      display: flex;
      justify-content: space-between;
    }
  }

  &__radios, &__radio{
    display: flex;
    justify-content: center;
    align-items: center;
    * > input{
      appearance: none;

      border-radius: 50%;
      width: 16px;
      height: 16px;

      border: 8px solid white;

      transition: 0.2s all linear;
      margin-right: .5rem;
      &:checked,
      &:focus,
      &:active{
        background-color: black;
        border: 4px solid white;
      }
    }


  }

  &__radio:not(:last-child){
    margin-right: 2rem;
  }

  &__input {
    border: none;
    border-radius: 0.5rem;

    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2%;
    box-shadow: 0 .4rem 2rem rgba(black, .2);
    &:focus-visible {
      outline: none;
      box-shadow: 0 .4rem 2rem rgba(#a2a2ff, .6);;
    }
  }

  &__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $largest){
      flex-direction: row;
    }
  }

  &__button {
    font-size: 2.5rem;
    width: 50%;
    padding: 1.5rem 2rem;
    margin: 1.5rem 2rem;
    @media only screen and (max-width: $largest){
      padding: 1rem 1.5rem;

    }
  }
}