*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; //10px
}

body{
  font-family: Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.container{
  margin: 1.5rem;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}